@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo(a)!</h1>
    <p>Aproveite as ofertas de fim de ano na melhor loja de Teresina.</a>.</p>
</div>
